// WordPress component overrides
.components-button[aria-controls*="nfd-editor-chat"] {

	&.is-active,
	&:hover,
	&:focus,
	&.is-pressed {
		background: transparent !important;
		color: inherit !important;
	}
}
