/* -------------------------------------------------------------------------- */
/*                                CSS Variables                               */
/* -------------------------------------------------------------------------- */

:root {
	/* --------------------------------- Colors --------------------------------- */

	// Primary colors
	--nfd-chat-color-primary: #2271b1;
	--nfd-chat-color-primary-hover: #135e96;
	--nfd-chat-color-primary-active: #0e4b72;
	--nfd-chat-color-primary-light-8: rgba(34, 113, 177, 0.08);
	--nfd-chat-color-primary-light-12: rgba(34, 113, 177, 0.12);
	--nfd-chat-color-primary-light-16: rgba(34, 113, 177, 0.16);
	--nfd-chat-color-primary-light-20: rgba(34, 113, 177, 0.2);

	// Grey colors
	--nfd-chat-color-grey-dark: #666;
	--nfd-chat-color-grey-medium: #999;
	--nfd-chat-color-grey-light: #ddd;
	--nfd-chat-color-grey-placeholder: #9e9e9e;

	// UI colors
	--nfd-chat-color-border: #e0e0e0;
	--nfd-chat-color-background: #f5f5f5;
	--nfd-chat-color-text: #1e1e1e;
	--nfd-chat-color-white: #fff;
}
